<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Clever - Education &amp; Courses Template | Blog</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="{% url 'blog' %}#"><span>Phone:</span> +44 300 303 0266</a>
                <a href="{% url 'blog' %}#"><span>Email:</span> <span class="__cf_email__"
                        data-cfemail="650c0b030a250609001300174b060a08">[email&#160;protected]</span></a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="{% url 'blog' %}#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="{% url 'blog' %}#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="{% url 'blog' %}#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'teacher' %}">Instructors</a></li>
                                <li><a href="{% url 'blog' %}">Courses</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-area">
                                <form action="{% url 'search_course' %}" method="get">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>

                            <!-- Register / Login -->
                            {% if not user.is_authenticated %}
                            <div class="register-login-area">
                                <a href="{% url 'register' %}#" class="btn">Register</a>
                                <a href="{% url 'login' %}" class="btn active">Login</a>
                            </div>
                            {% else %}
                            <a href="{% url 'logout' %}" class="btn active">logout</a>
                            {% endif %}

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="blog-area blog-page section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="blog-catagories mb-70 d-flex flex-wrap justify-content-between">
                        {% for category in categories %}
                        <div class="single-catagories bg-img" style="background-image: url({{category.back_image.url}});">
                            <a href="{% url 'course' %}?category={{category.name}}">
                                <h6>{{category.name}}</h6>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                {% for course in page_obj %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="{{course.image.url}}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <a href="{% url 'single_course' course.id %}"><h4>{{course.title}}</h4></a>
                            <div class="meta d-flex align-items-center">
                                <a href="{% url 'course' %}#">{{course.category.name}}</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="{% url 'course' %}#">{{course.category.profession.name}}</a>
                            </div>
                            <p>{{course.description}}</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="seat">
                                    <i class="fa fa-user" aria-hidden="true"></i>{{course.views}}
                                </div>
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i> 4.5
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'course' %}#" class="free">${{course.price}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more text-center mt-100 wow fadeInUp" data-wow-delay="1000ms">
                        {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">Back</a>
                        {% endif %}
                        <a href="?page={{page_number}}">{{page_num}} of {{page_obj.paginator.num_pages}}</a>
                        {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="{% url 'home' %}"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                        </div>
                        <!-- Copywrite -->
                        <p><a href="{% url 'blog' %}#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script data-cfasync="false"
                                    src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="{% url 'blog' %}#"><span>Phone:</span> +44 300 303 0266</a>
                <a href="{% url 'blog' %}#"><span>Email:</span> <span class="__cf_email__"
                        data-cfemail="fe97909891be9d929b889b8cd09d9193">[email&#160;protected]</span></a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="{% url 'blog' %}#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="{% url 'blog' %}#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="{% url 'blog' %}#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>


</body>

</html>